@import '../../vars.css';

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 59px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    height: 650px;
    width: 100%;
}




.title {
    font-size: 75px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color-text2);
    margin-bottom: 60px;
    margin-left: 10%;
}

.description {
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 20%;
    padding-right: 20%;
}

.btn {
    left: 30%;
    top: 25px;
}


.topBlur {
    position: absolute;
    width: 40vw;
    height: 20vw;
    min-width: 350px;
    min-height: 350px;
    top: -90px;
    left: -40vw;
    border-radius: 764px;
    background: rgba(231, 0, 0, 0.7);
    filter: blur(200px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width:90vw;
    height: 40vw;
    min-width: 200px;
    min-height: 350px;
    top: 200px;
    right: -60vw;
    border-radius: 764px;
    background: rgba(187, 12, 0, 0.7);
    filter: blur(300px);
    z-index: 0;
}