.container {
    display: flex;
    min-height: 100vh;
  }
  
  .content {
    margin-left: 250px; /* Adjust the margin-left to match the sidebar width */
    flex: 1;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .staffTable {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }
  
  table tbody tr:hover {
    background-color: #f9f9f9;
  }
  

  
